/* need to update test time */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: lightseagreen;
  width: 100vw;
  height: 100px;
  align-items: center;
  z-index: 1; /* this is super important! keeps it above the rest of the page */
}

header img {
  height: 100px;
  padding-left: 50px;
}

a {
  text-decoration: none;
  text-transform: uppercase; /* I was all links to have no underline and always be uppercase */
}

#title {
  font-size: 3rem;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

.navlinks {
  border: 3px solid white;
  font-size: larger;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.navlinks:hover {
  background-color: lightskyblue;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  /* width: 1920px; */
}

#topsection {
  background-color: rgba(139, 25, 130, 0.6);
  background-blend-mode: lighten;
  background-image: url(./images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-blend-mode: lighten;
}

.textcontentdiv {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-evenly;
}

#topsection .textcontent1 {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 8px;
}

#topsection .picturesdiv {
  /* rather than make a specific ID for each picture section, I thought I could use this method */
  display: flex;
  width: 45%;
  flex-direction: column-reverse;
  justify-content: center;
}

#picture1 {
}

#filler {
  height: 10%;
}

.biglinkdiv {
  flex-direction: column;
  display: flex;
  /* justify-content: flex-end; */
  width: 15%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

#topsection .biglinkdiv .textcontent1 {
  position: absolute;
  top: 350px;
  width: 100%;
}

.biglink {
  border: 3px solid black;
  border-radius: 5px;
  font-size: larger;
  width: 100px;
  color: black;
  font-weight: bold;
  background-color: white;
  bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  position: absolute;
  margin-bottom: 40px;
}

.biglink:hover {
  background-color: rgba(255, 0, 0, 0.322);
  color: rgba(0, 0, 255, 0.733);
}

#middlesection {
  background-color: rgba(226, 99, 40, 0.5);
  background-blend-mode: lighten; /* found this interesting blending method from a google search */
  flex-direction: row-reverse;
  background-image: url(./images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#middlesection .picturesdiv {
  display: flex;
  width: 33%;
  flex-direction: column;
}

#middlesection .biglinkdiv .textcontent1 {
  position: absolute;
  top: 80px;
  width: 100%;
}

#middlesection .picturesdiv img {
  padding-top: 100px;
}

#middlesection .textcontent1 {
  background-color: cornsilk;
  /* color: antiquewhite; */
  border-radius: 15px;
  padding: 8px;
}

#middlesection.picturesdiv {
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: center;
  /* align-items: end; */
}

#textcontent2 {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 8px;
}

#bottomsection {
  background-color: rgba(19, 131, 93, 0.5);
  background-blend-mode: lighten;
  background-image: url(./images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#bottomsection .picturesdiv {
  display: flex;
  width: 33%;
  flex-direction: column;
}

#bottomsection .textcontent1 {
  background-color: darkslategray;
  color: antiquewhite;
  border-radius: 15px;
  padding: 8px;
}

#bottomsection .picturesdiv img {
  /*trying a different method of aligning the image here instead of absolute/relative */
  padding-top: 100px;
  filter: grayscale(0.8);
}

#textcontent3 {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 8px;
}

#shelterpic {
  position: absolute;
  width: 300px;
  bottom: 200px;
  border: 5px solid grey;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footernav {
  align-items: center;
  display: flex;
}

.footerlinks {
  border: 3px solid white;
  font-size: larger;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
}

.footerlinks:hover {
  background-color: lightgreen;
}
